#micusrso {
    height: auto;
}

/* #micurso:hover .img-fluid {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
} */

/* #micurso:hover {
    -webkit-transform: scale(1.3);
    transform: scale(0.9);
} */