/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300&display=swap");

#homeOne {
  background: rgb(249, 250, 250);
}

#nuestrosCursos {
  font-family: "Crete Round";
  margin-top: 3%;
  margin-bottom: 2%;
  font-size: 40px;

  /*  {degradado con neon } */
  color: rgb(17, 17, 17);
  background: -moz-linear-gradient(
    45deg,
    rgba(140, 0, 255, 0.6) 0%,
    rgba(2, 242, 114, 0.7) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop (0%, rgba(140, 0, 255, 0.6)),
    color-stop(100%, rgba(2, 242, 114, 0.7))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(140, 0, 255, 0.6) 0%,
    rgba(2, 242, 114, 0.7) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(140, 0, 255, 0.6) 0%,
    rgba(2, 242, 114, 0.7) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(140, 0, 255, 0.6) 0%,
    rgba(2, 242, 114, 0.7) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(140, 0, 255, 0.6) 0%,
    rgba(2, 242, 114, 0.7) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c00ff', endColorstr='#02f272', GradientType=1);
  z-index: 100;
  -webkit-transform: translate3d(0, 0, 0);
}

#lp-pom-block-141 {
  display: block;
  background: rgba(0, 0, 0, 0.53);
  background-image: url("https://images.unsplash.com/photo-1580045045010-02c79e83ed28?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1631&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  border-radius: 0px;
  width: 100%;
  height: 579px;
  position: relative;
}

.texto-encima {
  position: absolute;
  top: 10px;
  left: 10px;
}
.centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 220%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
}

h2 {
  font-family: "Crete Round";
}
