@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Akshar:wght@300&family=Crete+Round:ital@1&display=swap");

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(41, 41, 41);
  font-size: 25px;
}

p {
  font-family: "Crete Round";
}

li {
}
