.registro {
  margin-top: 150px;
}
.imgFondo {
  background-image: url("https://c8.alamy.com/compes/m0k9b9/viejas-camaras-fotograficas-rollos-de-pelicula-la-lente-y-el-tripode-sobre-fondo-blanco-de-madera-el-diseno-del-bastidor-vista-plana-m0k9b9.jpg");
  position: relative;
}
