.fondo {
  /* background-image: url("https://images.unsplash.com/photo-1527011046414-4781f1f94f8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGZvdG9ncmFmJUMzJUFEYXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60");
  background-image: url("https://i.blogs.es/2e1ece/podria-cerrar-olympus-division-camaras-rumores-01/1366_2000.jpg"); */
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLc-mjEOymrNmCdSmVUEKnfJywuzpzFs0geA&usqp=CAU");
}
.tabla {
  background: rgb(253, 254, 254);
}
/* img {
  vertical-align: middle;
  border-style: none;
}*/
.usercard {
  opacity: 0.9;
}
